# מכשיר: cuda / cpu
DOMYSUBS_DEVICE=cpu

# מודל Whisper: tiny, base, small, medium, large-v2, large-v3
DOMYSUBS_MODEL=large-v2

# batch size (הקטן אם חסר זיכרון GPU)
DOMYSUBS_BATCH_SIZE=8

# compute type: float16 / int8 (int8 מומלץ ל-CPU)
DOMYSUBS_COMPUTE_TYPE=int8

# הפעלת סריקת חומרה אוטומטית בסטודיו (true/false)
DOMYSUBS_AUTO_SCAN=true
